/* Google font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    text-decoration: none;
    list-style: none;
    outline: 0;
    font-size: 16px;
}

:root{
    --bg-main-color: #010101;
    --bg-secondary-color: #01012b;
    --primary-text-color: #03deee;
    --secondary-text-color: #008cc4;
    --primary-button-color: #ff2a6d;
    --secondary-button-color: hsl(341, 100%, 40%);
    --fs-body: 2.5rem;
    --fs-header: 5rem;
}

body{
    background: var(--bg-main-color);
    font-size: var(--fs-header);
    position: relative;
}

p, li, span, label, input, textarea, a{
    font-size: var(--fs-body);
    color: var(--secondary-text-color);
    animation: textShadow 2.5s infinite;
    padding: .5rem;
}

h1, h2, h3, h4, h5{
    color: var(--primary-text-color);
    font-size: var(--fs-header);
    animation: textShadow 2.5s infinite;
    padding: .5rem;
}

.primary-text{
    color: var(--primary-text-color);
}

section{
    width: 100%;
    height: 100%;
}

.grid{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(50, 0, 100, 0.3);
    padding: 2rem;
}

.section-skills-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: center;
    min-width: 100%;
    background-color: rgba(50, 0, 100, 0.3);
    padding: 2rem;
}

.section-terminal-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(50, 0, 100, 0.3);
    padding: 2rem;
    
}

.section-terminal{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* gradient lines for screen effect */
.crt::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
    );
    background-size: 100% 8px;
    z-index: 3;
    pointer-events: none;
}

/*======================================= Header */
.terminal{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr 1fr;
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(50, 0, 100, 0.3);
    padding: 2rem;
}

.terminal-box{
    grid-column: span 2;
}

.terminal-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;
    animation: glitch 1s infinite;
}

.terminal-nav a:hover, .projects a:hover{
    color: var(--secondary-button-color);
    animation: glitch 1s;
}

.terminal-buttons{
    margin-top: 5rem;
}

.terminal-buttons a{
    margin-right: 3rem;
}

.terminal-nav a i{
    font-size: var(--fs-body);
}

/* Active link on terminal */
.active{
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--primary-text-color);
    animation-name: blinking;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

/*======================================= About */
.about-me{
    grid-column: span 2;
    margin-bottom: 1rem;
}

/* timeline */
.timeline{
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--secondary-text-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .li-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    background: inherit;
    width: 50%;
    color: var(--primary-button-color);
    font-size: 1.5rem;
  }

  .li-wrapper p, span{
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
}

.li-wrapper h4{
    margin-right: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px dashed var(--secondary-text-color);
  }

  .li-wrapper::after {
    content: '<>';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background: var(--bg-secondary-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left{
    left: 0;
  }

  .left p{
    padding-right: 1rem;
  }

  .right{
    left: 50%;
  }
.right::after {
    left: -12px;
  }

  .right h4{
    margin-left: 1rem;
  }

  .right p{
    padding-left: 1rem;
  }

/*======================================= About */
.skills-container{
    padding: 1rem;
}

.skill{
    font-size: 6rem;
    padding: 1rem;
    color: var(--secondary-button-color);
    animation: textShadow 2.5s infinite;
}

/*======================================= Projects */
.projects-container{
    display: flex;
    justify-content: center;
}

.project{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.project img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.project-image{
    position: relative;
}

.project-image .overlay{
    position: absolute;
    background-color: var(--secondary-text-color);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    opacity: 0.5;
    animation: imageShadow 2.5s infinite;
}

.project i{
    font-size: 2.5rem;
}

/*======================================= Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
    background-color: rgba(50, 0, 100, 0.3);
    padding: 2rem;
}

footer p{
    font-size: 1.5rem;
}

/* Scroll effect */
.hidden{
    opacity: 0;
    filter: blur(5px);
    /* transform: translate(-100%); */
    transition: ease-in .5s;
}

.show{
    opacity: 1;
    filter: blur(0);
    /* transform: translate(0); */
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

@keyframes textShadow {
    0% {
      text-shadow: 0.05rem 0 0.06rem rgba(0,30,255,0.5), -0.05rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    25% {
        text-shadow: 0.2rem 0 0.06rem rgba(0,30,255,0.5), -0.2rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    50% {
        text-shadow: 0.08rem 0 0.06rem rgba(0,30,255,0.5), -0.08rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    75% {
        text-shadow: 0.1rem 0 0.06rem rgba(0,30,255,0.5), -0.1rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    100% {
        text-shadow: 0.16rem 0 0.06rem rgba(0,30,255,0.5), -0.16rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
  }

@keyframes imageShadow {
    0% {
      box-shadow: 0.05rem 0 0.06rem rgba(0,30,255,0.5), -0.05rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    25% {
        box-shadow: 0.2rem 0 0.06rem rgba(0,30,255,0.5), -0.2rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    50% {
        box-shadow: 0.08rem 0 0.06rem rgba(0,30,255,0.5), -0.08rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    75% {
        box-shadow: 0.1rem 0 0.06rem rgba(0,30,255,0.5), -0.1rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
    100% {
        box-shadow: 0.16rem 0 0.06rem rgba(0,30,255,0.5), -0.16rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
    }
  }

@keyframes glitch {
    0% {
        text-shadow: 0.05rem 0 0.06rem rgba(0,30,255,0.5), -0.05rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
      }
      25% {
          text-shadow: 0.4rem 1rem 0.6rem rgba(0,30,255,0.5), -0.4rem -1rem 0.6rem rgba(255,0,80,0.3), 0 0 0.18rem;
      }
      50% {
          text-shadow: 0.08rem 0 0.06rem rgba(0,30,255,0.5), -0.08rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
      }
      75% {
          text-shadow: 0.1rem 0 0.06rem rgba(0,30,255,0.5), -0.1rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
      }
      100% {
          text-shadow: 0.16rem 0 0.06rem rgba(0,30,255,0.5), -0.16rem 0 0.06rem rgba(255,0,80,0.3), 0 0 0.18rem;
      }
  }

@keyframes blinking{
    50% {
        border-bottom: hidden;
    }
}